<h1 style="text-align: center">
<div style="color: #DD3403; font-size: 60%">Data Science DISCOVERY MicroProject</div>
<span style="">MicroProject: Exploring COVID-19 Data from GitHub</span>
<div style="font-size: 60%;"><a href="https://discovery.cs.illinois.edu/microproject/covid-data-from-github/">https://discovery.cs.illinois.edu/microproject/covid-data-from-github/</a></div>
</h1>

<hr style="color: #DD3403;">

## Data Source: COVID-19 Case Data from Johns Hopkins University, via GitHub

Since before COVID-19 was detected in the United States, the Center for Systems Science and Engineering (CSSE) at Johns Hopkins University provided daily updates of COVID-19 case data as clean, structured CSV files on GitHub as a free public service to the world.  They continued this free, public service for over three years until March 10, 2023.

You can view the archive of their COVID-19 GitHub repository here: [https://github.com/CSSEGISandData/COVID-19](https://github.com/CSSEGISandData/COVID-19).  Explore their daily reports by navigating into their repository:

- Click **csse_covid_19_data** to navigate into the `csse_covid_19_data` folder,
- Navigate into `csse_covid_19_daily_reports`,
- Find the CSV data for **Jan. 3, 2022** *(it'll be near the top, be careful to get the correct year)*
- Click the **Raw** button to above the file contents to navigate to the raw CSV version of the file (without the GitHub interface)
- Use the URL of the **raw data as your dataset** for this MicroProject.

Use panda's `read_csv` function to read the dataset you found and create a DataFrame called `df`:

In [19]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/refs/heads/master/csse_covid_19_data/csse_covid_19_daily_reports/01-03-2022.csv")
df

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2022-01-04 04:22:17,33.93911,67.709953,158183,7364,NaN,NaN,Afghanistan,406.344057,4.655368
1,NaN,NaN,NaN,Albania,2022-01-04 04:22:17,41.15330,20.168300,210885,3220,NaN,NaN,Albania,7327.993606,1.526899
2,NaN,NaN,NaN,Algeria,2022-01-04 04:22:17,28.03390,1.659600,219532,6298,NaN,NaN,Algeria,500.631194,2.868830
3,NaN,NaN,NaN,Andorra,2022-01-04 04:22:17,42.50630,1.521800,24502,140,NaN,NaN,Andorra,31711.641752,0.571382
4,NaN,NaN,NaN,Angola,2022-01-04 04:22:17,-11.20270,17.873900,83764,1775,NaN,NaN,Angola,254.863132,2.119049
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4011,NaN,NaN,Unknown,Ukraine,2022-01-04 04:22:17,NaN,NaN,0,0,0.0,0.0,"Unknown, Ukraine",0.000000,0.000000
4012,NaN,NaN,NaN,Nauru,2022-01-04 04:22:17,-0.52280,166.931500,0,0,0.0,0.0,Nauru,0.000000,0.000000
4013,NaN,NaN,Niue,New Zealand,2022-01-04 04:22:17,-19.05440,-169.867200,0,0,0.0,0.0,"Niue, New Zealand",0.000000,0.000000
4014,NaN,NaN,NaN,Tuvalu,2022-01-04 04:22:17,-7.10950,177.649300,0,0,0.0,0.0,Tuvalu,0.000000,0.000000
4015,NaN,NaN,Pitcairn Islands,United Kingdom,2022-01-04 04:22:17,-24.37680,-128.324200,0,0,0.0,0.0,"Pitcairn Islands, United Kingdom",0.000000,0.000000

### ðŸ”¬ Checkpoint Tests ðŸ”¬

In [20]:
### TEST CASE for Data Import
tada = "\N{PARTY POPPER}"

assert("df" in vars())
assert("Country_Region" in df)
assert("People_Hospitalized" not in df), "Make sure you have the global daily reports, not just the US daily reports."
assert("India" in df["Country_Region"].unique())
assert("2022-01-04" in df["Last_Update"].unique()[0]), "Make sure you have the Jan. 3, 2022 CSV file."
print(f"{tada} All Tests Passed! {tada}")

ðŸŽ‰ All Tests Passed! ðŸŽ‰

<hr style="color: #DD3403;">

## Country-Level Analysis of COVID-19

The CSV file from JHU provides the **total reported cases over all time until the end of the day on Jan. 3, 2022**.  However, the data often breaks countries into individual regions.  For example, let's check out the United States.  Create a DataFrame with all records from the dataset with data about the United States in the variable `df_us`:

In [21]:
df_us = df[df['Country_Region']=='US' ]
df_us

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
673,1001.0,Autauga,Alabama,US,2022-01-04 04:22:17,32.539527,-86.644082,11256,160,NaN,NaN,"Autauga, Alabama, US",20147.129893,1.421464
674,1003.0,Baldwin,Alabama,US,2022-01-04 04:22:17,30.727750,-87.722071,40549,593,NaN,NaN,"Baldwin, Alabama, US",18164.347725,1.462428
675,1005.0,Barbour,Alabama,US,2022-01-04 04:22:17,31.868263,-85.387129,3961,81,NaN,NaN,"Barbour, Alabama, US",16045.531880,2.044938
676,1007.0,Bibb,Alabama,US,2022-01-04 04:22:17,32.996421,-87.125115,4594,95,NaN,NaN,"Bibb, Alabama, US",20514.423506,2.067915
677,1009.0,Blount,Alabama,US,2022-01-04 04:22:17,33.982109,-86.567906,11368,198,NaN,NaN,"Blount, Alabama, US",19658.976931,1.741731
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3947,56039.0,Teton,Wyoming,US,2022-01-04 04:22:17,43.935225,-110.589080,6273,14,NaN,NaN,"Teton, Wyoming, US",26734.572110,0.223179
3948,56041.0,Uinta,Wyoming,US,2022-01-04 04:22:17,41.287818,-110.547578,4173,31,NaN,NaN,"Uinta, Wyoming, US",20631.859982,0.742871
3949,90056.0,Unassigned,Wyoming,US,2022-01-04 04:22:17,NaN,NaN,0,0,NaN,NaN,"Unassigned, Wyoming, US",NaN,NaN
3950,56043.0,Washakie,Wyoming,US,2022-01-04 04:22:17,43.904516,-107.680187,1886,37,NaN,NaN,"Washakie, Wyoming, US",24163.997438,1.961824
3951,56045.0,Weston,Wyoming,US,2022-01-04 04:22:17,43.839612,-104.567488,1257,14,NaN,NaN,"Weston, Wyoming, US",18146.383716,1.113763

### Analysis of COVID-19 in the United States

Create a new DataFrame, `df_us_sorted`, that sorts the DataFrame based on the number of confirmed cases of COVID-19 in the United States, where the **first row contains the location with the highest number of confirmed cases**:

In [22]:
df_us_sorted = df_us.sort_values(by='Confirmed',ascending=False)
df_us_sorted

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
885,6037.0,Los Angeles,California,US,2022-01-04 04:22:17,34.308284,-118.228241,1757522,27647,NaN,NaN,"Los Angeles, California, US",17506.756328,1.573067
781,4013.0,Maricopa,Arizona,US,2022-01-04 04:22:17,33.348359,-112.491815,887308,13737,NaN,NaN,"Maricopa, Arizona, US",19782.075857,1.548166
1305,17031.0,Cook,Illinois,US,2022-01-04 04:22:17,41.841448,-87.816588,862761,12055,NaN,NaN,"Cook, Illinois, US",16751.882876,1.397258
1050,12086.0,Miami-Dade,Florida,US,2022-01-04 04:22:17,25.611236,-80.551706,854670,6472,NaN,NaN,"Miami-Dade, Florida, US",31457.080392,0.757251
3440,48201.0,Harris,Texas,US,2022-01-04 04:22:17,29.858649,-95.393395,759902,9766,NaN,NaN,"Harris, Texas, US",14660.987732,1.413273
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3847,90054.0,Unassigned,West Virginia,US,2021-07-31 23:21:38,NaN,NaN,0,0,NaN,NaN,"Unassigned, West Virginia, US",NaN,NaN
1244,90015.0,Unassigned,Hawaii,US,2022-01-04 04:22:17,NaN,NaN,0,0,NaN,NaN,"Unassigned, Hawaii, US",NaN,NaN
3917,90055.0,Unassigned,Wisconsin,US,2022-01-04 04:22:17,NaN,NaN,0,0,NaN,NaN,"Unassigned, Wisconsin, US",NaN,NaN
737,90001.0,Unassigned,Alabama,US,2020-12-21 13:27:30,NaN,NaN,0,0,NaN,NaN,"Unassigned, Alabama, US",NaN,NaN
725,80001.0,Out of AL,Alabama,US,2020-12-21 13:27:30,NaN,NaN,0,0,NaN,NaN,"Out of AL, Alabama, US",NaN,NaN

### Create a DataFrame for Country Level Analysis

Create a new DataFrame, `df_countries`, that aggregates the data within each country together to get a DataFrame that contains one row for each country:

In [23]:
df_countries = df.groupby('Country_Region').agg({'Confirmed':"sum", 'Deaths': 'sum','Recovered': 'sum','Active':'sum'}).reset_index()
df_countries

           Country_Region  Confirmed  Deaths  Recovered  Active
0             Afghanistan     158183    7364        0.0     0.0
1                 Albania     210885    3220        0.0     0.0
2                 Algeria     219532    6298        0.0     0.0
3                 Andorra      24502     140        0.0     0.0
4                  Angola      83764    1775        0.0     0.0
..                    ...        ...     ...        ...     ...
196    West Bank and Gaza     469748    4919        0.0     0.0
197  Winter Olympics 2022          0       0        0.0     0.0
198                 Yemen      10138    1984        0.0     0.0
199                Zambia     261221    3753        0.0     0.0
200              Zimbabwe     216087    5047        0.0     0.0

[201 rows x 5 columns]

### Performing Country-Level Analysis

Create a DataFrame called `df_most_cases` that contains the country which has had the most confirmed cases of COVID-19:

In [24]:
df_most_cases = df_countries[df_countries['Confirmed']== df_countries['Confirmed'].max()]
df_most_cases

    Country_Region  Confirmed  Deaths  Recovered  Active
186             US   56438999  828234        0.0     0.0

### ðŸ”¬ Checkpoint Tests ðŸ”¬

In [25]:
### TEST CASE for Data Analysis
tada = "\N{PARTY POPPER}"

assert("df_us" in vars())
assert("Province_State" in df_us)

assert("df_us_sorted" in vars())
assert(df_us_sorted.iloc[:,-7].values[2] <= df_us_sorted.iloc[:,-7].values[1])
assert(df_us_sorted.iloc[:,-7].values[10] <= df_us_sorted.iloc[:,-7].values[9])
assert(df_us_sorted["Confirmed"].values[0]) == max(df_us["Confirmed"])

assert("df_countries" in vars())
assert(df_countries["Confirmed"].sum() == df["Confirmed"].cumsum().values[len(df) - 1])

assert("df_most_cases" in vars())
assert(len(df_most_cases) == 1)
assert(len(df_most_cases.iloc[0]["Country_Region"]) == 2)

print(f"{tada} All Tests Passed! {tada}")

ðŸŽ‰ All Tests Passed! ðŸŽ‰

<hr style="color: #DD3403;">

## Checking for the Pareto principle

The Pareto principle states that *"for many outcomes, roughly 80% of consequences come from 20% of causes (the "vital few")"* ([See more on Wikipedia: Pareto principle](https://en.wikipedia.org/wiki/Pareto_principle)).  This is also known as the "80-20 rule" and appears often in Data Science.

In terms of COVID-19 cases, the application of the Pareto principle would be that **80% of confirmed cases comes from just 20% of countries**.  Is this true?

To test this, we need to find total number of cases across all countries.  Compute the total number of confirmed cases in the variable `confirmed_total` (this should be a number, not a DataFrame):

In [26]:
confirmed_total = df_countries['Confirmed'].sum()
confirmed_total

np.int64(293190148)

Using a bit of math, 80% of the total number of confirmed cases would be:

In [27]:
confirmed_80pct = confirmed_total * 0.8
confirmed_80pct

np.float64(234552118.4)

### Finding the Cumulative Sum of Cases

DataFrames provide the function "cumulative sum" function, or `df.cumsum(...)`, that allows us to calculate the sum of every row up until and including the current row.

Read the DISCOVERY guide "What is the Cumulative Sum of a pandas DataFrame?" to find out more on using the cumulative sum function:
- [Guide: "What is the Cumulative Sum of a pandas DataFrame?"](https://discovery.cs.illinois.edu/guides/DataFrame-Fundamentals/Cumulative-Sum-in-pandas/)

Before finding the cumulative sum, we need to have a sorted DataFrame of all countries in descending order.  Use `df_countries` to create a DataFrame sorted by confirmed cases in the variable `df_countries_sorted`:

In [28]:
df_countries_sorted = df_countries.sort_values(by='Confirmed', ascending=False)
df_countries_sorted

           Country_Region  Confirmed  Deaths  Recovered  Active
186                    US   56438999  828234        0.0     0.0
80                  India   34960261  482017        0.0     0.0
24                 Brazil   22309081  619473        0.0     0.0
190        United Kingdom   13498751  178396        0.0     0.0
63                 France   10422830  125200        0.0     0.0
..                    ...        ...     ...        ...     ...
181                 Tonga          1       0        0.0     0.0
126                 Nauru          0       0        0.0     0.0
93           Korea, North          0       0        0.0     0.0
185                Tuvalu          0       0        0.0     0.0
197  Winter Olympics 2022          0       0        0.0     0.0

[201 rows x 5 columns]

Using `df_countries_sorted`, create a new column called `Cumulative Confirmed` that contains the cumulative sum of the Confirmed cases:

In [29]:
df_countries_sorted["Cumulative Confirmed"] = df_countries_sorted['Confirmed'].cumsum()
df_countries_sorted

,Country_Region,Confirmed,Deaths,Recovered,Active,Cumulative Confirmed
186,US,56438999,828234,0.0,0.0,56438999
80,India,34960261,482017,0.0,0.0,91399260
24,Brazil,22309081,619473,0.0,0.0,113708341
190,United Kingdom,13498751,178396,0.0,0.0,127207092
63,France,10422830,125200,0.0,0.0,137629922
...,...,...,...,...,...,...
181,Tonga,1,0,0.0,0.0,293190148
126,Nauru,0,0,0.0,0.0,293190148
93,"Korea, North",0,0,0.0,0.0,293190148
185,Tuvalu,0,0,0.0,0.0,293190148
197,Winter Olympics 2022,0,0,0.0,0.0,293190148

Finally, create a DataFrame called `df_80pct` with all the countries up to the country that, cumulatively, account for 80% of the global cases (remember, that's the cases you stored in `confirmed_80pct`):

In [31]:
df_countries_sorted["Cumulative Percnetage"] = (df_countries_sorted['Cumulative Confirmed'] / 
                                                df_countries_sorted['Confirmed'].sum()) * 100
df_80pct = df_countries_sorted[df_countries_sorted['Cumulative Percnetage'] <= 80]
df_80pct

,Country_Region,Confirmed,Deaths,Recovered,Active,Cumulative Confirmed,Cumulative Percnetage
186,US,56438999,828234,0.0,0.0,56438999,19.249964
80,India,34960261,482017,0.0,0.0,91399260,31.174056
24,Brazil,22309081,619473,0.0,0.0,113708341,38.783138
190,United Kingdom,13498751,178396,0.0,0.0,127207092,43.387233
63,France,10422830,125200,0.0,0.0,137629922,46.942206
147,Russia,10374292,305096,0.0,0.0,148004214,50.480623
184,Turkey,9597670,82795,0.0,0.0,157601884,53.754154
67,Germany,7129500,111602,0.0,0.0,164731384,56.185852
167,Spain,6667511,89573,0.0,0.0,171398895,58.459978
86,Italy,6396110,137786,0.0,0.0,177795005,60.641535
82,Iran,6198590,131702,0.0,0.0,183993595,62.755722
7,Argentina,5739326,117245,0.0,0.0,189732921,64.713266
38,Colombia,5191021,130061,0.0,0.0,194923942,66.483797
81,Indonesia,4263433,144102,0.0,0.0,199187375,67.937950
143,Poland,4133851,97601,0.0,0.0,203321226,69.347905
117,Mexico,3993464,299581,0.0,0.0,207314690,70.709978
188,Ukraine,3856359,102558,0.0,0.0,211171049,72.025288
165,South Africa,3475512,91312,0.0,0.0,214646561,73.210700
128,Netherlands,3234143,21439,0.0,0.0,217880704,74.313788
142,Philippines,2855819,51586,0.0,0.0,220736523,75.287838
110,Malaysia,2767044,31560,0.0,0.0,223503567,76.231609
47,Czechia,2483762,36255,0.0,0.0,225987329,77.078759
33,Canada,2323056,30400,0.0,0.0,228310385,77.871097
141,Peru,2304674,202818,0.0,0.0,230615059,78.657165
178,Thailand,2232485,21738,0.0,0.0,232847544,79.418611

### Does the Pareto Principle show up?

Currently:
- `df_countries` contains EVERY country in the world with COVID-19 data, and
- `df_80pct` contains countries that make up 80% of the cases.

If the Pareto principle applies to the confirmed cases of COVID-19, then we expect that `df_80pct` holds only approximately 20% of all the countries.  Let's see:

In [32]:
pct_cases = 100 * sum(df_80pct["Confirmed"]) / sum(df_countries["Confirmed"])
pct_cases = round(pct_cases, 2)

pct_countries = 100 * len(df_80pct) / len(df_countries)
pct_countries = round(pct_countries, 2)

print(f"Result: {pct_cases}% of the COVID-19 cases comes from {pct_countries}% of the countries in the dataset.")

Result: 79.42% of the COVID-19 cases comes from 12.44% of the countries in the dataset.

### ðŸ”¬ Checkpoint Tests ðŸ”¬

In [33]:
### TEST CASE for Pareto Principle
tada = "\N{PARTY POPPER}"

assert("confirmed_total" in vars())
assert("confirmed_80pct" in vars())
assert(confirmed_total > 2.9e8)
                         
assert("df_countries_sorted" in vars())
assert("Cumulative Confirmed" in df_countries_sorted)
assert(max(df_countries_sorted["Cumulative Confirmed"]) == sum(df_countries_sorted["Confirmed"]))
assert(min(df_countries_sorted["Cumulative Confirmed"]) == df_countries_sorted.iloc[0]["Confirmed"])

assert("df_80pct" in vars())
assert("US" in df_80pct["Country_Region"].unique())
assert("India" in df_80pct["Country_Region"].unique())
assert("Tonga" not in df_80pct["Country_Region"].unique())

assert(sum(df_80pct["Confirmed"]) / sum(df_countries["Confirmed"]) > 0.7)
assert(sum(df_80pct["Confirmed"]) / sum(df_countries["Confirmed"]) < 0.9)

assert(len(df_80pct["Confirmed"]) / len(df_countries["Confirmed"]) > 0.1)
assert(len(df_80pct["Confirmed"]) / len(df_countries["Confirmed"]) < 0.2)

print(f"{tada} All Tests Passed! {tada}")

ðŸŽ‰ All Tests Passed! ðŸŽ‰

<hr style="color: #DD3403;">

## Submission

You're almost done!  All you need to do is to commit your lab to GitHub and run the GitHub Actions Grader:

1.  âš ï¸ **Make certain to save your work.** âš ï¸ To do this, go to **File => Save All**

2.  After you have saved, exit this notebook and return to https://discovery.cs.illinois.edu/microproject/covid-data-from-github/ and complete the section **"Commit and Grade Your Notebook"**.

3. If you see a 100% grade result on your GitHub Action, you've completed this MicroProject! ðŸŽ‰