<h1 style="text-align: center">
<div style="color: #DD3403; font-size: 60%">Data Science DISCOVERY MicroProject</div>
<span style="">MicroProject: FIFA World Cup</span>
<div style="font-size: 60%;"><a href="https://discovery.cs.illinois.edu/microproject/fifa-world-cup/">https://discovery.cs.illinois.edu/microproject/fifa-world-cup/</a></div>
</h1>

<hr style="color: #DD3403;">

## Data Source: International Soccer Match Data via GitHub


The FIFA World Cup is a global football (soccer) competition contested by the senior men's national teams which occurs every 4 years. It is likely the most popular sporting event in the world, drawing billions of television viewers every tournament.

This dataset includes over 45,000 results of international football matches starting from the very first official match in 1872. The matches range from FIFA World Cup to regular friendly matches. The matches are strictly men's full internationals and the data does not include Olympic Games or matches where at least one of the teams was the nation's B-team, U-23 or a league select team.

You can view their Match Data GitHub repository here: [https://github.com/martj42/international_results](https://github.com/martj42/international_results).  You can find all the match results by navigating into the repository:

- Click **results.csv**
- Click the **View Raw** button to above the file contents to navigate to the raw CSV version of the file (without the GitHub interface)
- Use the URL of the **raw data as your dataset** for this MicroProject.

Use panda's `read_csv` function to read the dataset you found and create a DataFrame called `df` and drop all rows containing a NaN value:

*Note: to learn more about the columns in the imported DataFrame navigate the the github page and read the README.md file.*

In [1]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/martj42/international_results/refs/heads/master/results.csv")
df

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...
47772,2024-10-15,Palestine,Kuwait,2,2,FIFA World Cup qualification,Al Rayyan,Qatar,True
47773,2024-10-15,South Korea,Iraq,3,2,FIFA World Cup qualification,Yongin,South Korea,False
47774,2024-10-15,Japan,Australia,1,1,FIFA World Cup qualification,Saitama,Japan,False
47775,2024-10-15,China PR,Indonesia,2,1,FIFA World Cup qualification,Qingdao,China PR,False
47776,2024-10-15,Saudi Arabia,Bahrain,0,0,FIFA World Cup qualification,Jeddah,Saudi Arabia,False

Remove all rows containing `NaN` by using `df.dropna()` and save this data frame as `df`:

In [2]:
df = df.dropna()

### ðŸ”¬ Checkpoint Tests ðŸ”¬

In [3]:
### TEST CASE for Data Import
# - This read-only cell contains a "checkpoint" for this section of the MicroProejct and verifies you are on the right track.
# - If this cell results in a celebration message, you PASSED all test cases!
# - If this cell results in any errors, check you previous cells, make changes, and RE-RUN your code and then this cell.

tada = "\N{PARTY POPPER}"

assert("df" in vars())
assert(df.isna().sum().sum() == 0)
assert("home_team" in df)
print(f"{tada} All Tests Passed! {tada}")

ðŸŽ‰ All Tests Passed! ðŸŽ‰

<hr style="color: #DD3403;">

## Part 1: EDA

The DataFrame currently has data about every match played, but it's often useful to view aggregated information about each country.

Create a summary of in a new DataFrame, `df_home_goals`, that has the total goals **that each nation has scored** at home in descending order.  Specifically, your `df_home_goals` should:
- Aggregate all of the rows with the same `home_team` together (ex: all the Brazil rows should be combined),
- Find the **total number of home goals** across all of the games each `home_team` has played
- Sort the DataFrame by the number of home goals in **descending order**, and
- Remove all other columns except `home_team` and `home_score` from the final DataFrame so that `df_home_goals` has only those two columns.

*(See the DISCOVERY lecture ["Grouping Data in Python"](https://discovery.cs.illinois.edu/learn/Exploratory-Data-Analysis/Grouping-Data-in-Python/) for a refresher on how to group data.)*

In [4]:
grouped_data = df.groupby('home_team')
home_score_sum = grouped_data['home_score'].sum().reset_index()
sorted_home_scores = home_score_sum.sort_values(by='home_score', ascending=False).reset_index(drop=True)
df_home_goals = sorted_home_scores[['home_team', 'home_score']]
df_home_goals

      home_team  home_score
0        Brazil        1488
1       Germany        1338
2     Argentina        1327
3       England        1231
4        Sweden        1207
..          ...         ...
322        Sark           0
323        Niue           0
324      RyÅ«kyÅ«           0
325      Darfur           0
326  East Timor           0

[327 rows x 2 columns]

### Away Team and Away Goals

How about for away_goals?  Do the same thing, but for `away_team` and `away_score`.  Call this DataFrame `df_away_goals`:

In [5]:
grouped_data = df.groupby('away_team')
away_score_sum = grouped_data['away_score'].sum().reset_index()
sorted_away_scores = away_score_sum.sort_values(by='away_score', ascending=False).reset_index(drop=True)
df_away_goals = sorted_away_scores[['away_team', 'away_score']]
df_away_goals

              away_team  away_score
0               England        1111
1               Germany         922
2                Sweden         915
3               Hungary         868
4               Uruguay         825
..                  ...         ...
316  Parishes of Jersey           0
317          East Timor           0
318                Sark           0
319             Cilento           0
320              Barawa           0

[321 rows x 2 columns]

### ðŸ”¬ Checkpoint Tests ðŸ”¬

In [6]:
### TEST CASE for Part 1: EDA
tada = "\N{PARTY POPPER}"

assert("df_home_goals" in vars())
assert("df_away_goals" in vars())

assert(len(df_home_goals.columns) == 2)
assert("home_score" in df_home_goals)
assert("home_team" in df_home_goals)

assert(len(df_away_goals.columns) == 2)
assert("away_score" in df_away_goals)
assert("away_team" in df_away_goals)

assert(df_home_goals.iloc[20]["home_score"] < df_home_goals.iloc[0]["home_score"]), "Make sure to sort the dataframe"
assert(df_home_goals.iloc[56]["home_score"] < df_home_goals.iloc[0]["home_score"])
assert(df_home_goals.iloc[56]["home_score"] < df_home_goals.iloc[20]["home_score"])

assert(df_away_goals.iloc[20]["away_score"] < df_away_goals.iloc[0]["away_score"]), "Make sure to sort the dataframe"
assert(df_away_goals.iloc[56]["away_score"] < df_away_goals.iloc[0]["away_score"])
assert(df_away_goals.iloc[56]["away_score"] < df_away_goals.iloc[20]["away_score"])


print(f"{tada} All Tests Passed! {tada}")

ðŸŽ‰ All Tests Passed! ðŸŽ‰

<hr style="color: #DD3403;">

## Part 2: World Cup

In the DataSet, the `tournament` column provides the tournament where the game was played.

World Cup games were the only international matches played on Nov. 30, 2022 (`2022-11-30`).  Find the `tournament` string used for games during the World Cup by looking at games with that `date` during the world cup.

In [7]:
world_tournament=df[df["date"]=="2022-11-30"]
world_tournament

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
45685,2022-11-30,Poland,Argentina,0,2,FIFA World Cup,Doha,Qatar,True
45686,2022-11-30,Saudi Arabia,Mexico,1,2,FIFA World Cup,Lusail,Qatar,True
45687,2022-11-30,Australia,Denmark,1,0,FIFA World Cup,Al Wakrah,Qatar,True
45688,2022-11-30,Tunisia,France,1,0,FIFA World Cup,Al Rayyan,Qatar,True

Knowing how the World Cup games are labeled, create a new DataFrame `df_worldcup` that contains all World Cup games played in the dataset:

In [8]:
df_worldcup = df[df['tournament']=="FIFA World Cup"]
df_worldcup

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
1444,1930-07-13,Belgium,United States,0,3,FIFA World Cup,Montevideo,Uruguay,True
1445,1930-07-13,France,Mexico,4,1,FIFA World Cup,Montevideo,Uruguay,True
1446,1930-07-14,Brazil,Yugoslavia,1,2,FIFA World Cup,Montevideo,Uruguay,True
1447,1930-07-14,Peru,Romania,1,3,FIFA World Cup,Montevideo,Uruguay,True
1448,1930-07-15,Argentina,France,1,0,FIFA World Cup,Montevideo,Uruguay,True
...,...,...,...,...,...,...,...,...,...
45709,2022-12-10,England,France,1,2,FIFA World Cup,Al Khor,Qatar,True
45711,2022-12-13,Argentina,Croatia,3,0,FIFA World Cup,Lusail,Qatar,True
45712,2022-12-14,France,Morocco,2,0,FIFA World Cup,Al Khor,Qatar,True
45716,2022-12-17,Croatia,Morocco,2,1,FIFA World Cup,Al Rayyan,Qatar,True
45718,2022-12-18,Argentina,France,3,3,FIFA World Cup,Lusail,Qatar,True

### ðŸ”¬ Checkpoint Tests ðŸ”¬

In [9]:
### TEST CASE for Part 2.1: World Cup Games

tada = "\N{PARTY POPPER}"

assert("df_worldcup" in vars())

assert(len(df_worldcup) > 960)
assert(len(df_worldcup["tournament"].unique()) == 1)
assert("World Cup" in df_worldcup["tournament"].unique()[0])

print(f"{tada} All Tests Passed! {tada}")

ðŸŽ‰ All Tests Passed! ðŸŽ‰

## Total Points Scored at The World Cup

Calculate the number of goals scored in **ALL** World Cup matches and store that value in `total_WC_goals`.  The variable `total_WC_goals` should be a single number of the total goals scored (not a DataFrame or a row).

- Each game has two teams -- make sure you are adding **both** `home_score` and `away_score` in World Cup games to find the total number of points scored.

In [10]:
world_cup=df[df["tournament"]=='FIFA World Cup']
total_WC_goals = world_cup["home_score"].sum()+ world_cup["away_score"].sum()
total_WC_goals

np.int64(2720)

### ðŸ”¬ Checkpoint Tests ðŸ”¬

In [11]:
### TEST CASE for Part 2.2: Total Points Scored at The World Cup
tada = "\N{PARTY POPPER}"
assert(df[df["tournament"] == "FIFA World Cup"].sum().iloc[3] + df[df["tournament"] == "FIFA World Cup"].sum().iloc[4] == total_WC_goals)
print(f"{tada} All Tests Passed! {tada}")

ðŸŽ‰ All Tests Passed! ðŸŽ‰

<hr style="color: #DD3403;">

## Part 3: United States Win Percentage

Our dataset contains a `home_team` and an `away_team` column along with a home_score and away_score. Using these columns find the number of wins, losses, and ties the United States has:

First, find `US_wins`, the number of games the United States has won the match:

In [12]:
US_wins = len(df[((df["home_team"] == "United States") & (df["home_score"] > df["away_score"])) | 
             ((df["away_team"] == "United States") & (df["away_score"] > df["home_score"]))])
US_wins

337

Next, find `US_loss`, the number of times the United States has loss the match:

In [13]:
US_loss = len(df[((df["home_team"] == "United States") & (df["home_score"] < df["away_score"])) | 
             ((df["away_team"] == "United States") & (df["away_score"] < df["home_score"]))])
US_loss

266

Finally, find `US_draw`, the number of times the United States has a draw in the match:

In [14]:
US_draw = len(df[((df["home_team"] == "United States") & (df["home_score"] == df["away_score"])) | 
             ((df["away_team"] == "United States") & (df["away_score"] == df["home_score"]))])
US_draw

159

### Calculate the Win Percentage of the United States

Now, calculate the "Win Percentage" of the United States.  In football(soccer), "Win Percentage" considers a win to be a win and a draw to be **half** of a win.

Save this result as `US_WinPercent`

In [15]:
US_WinPercent = (US_wins + .5*US_draw) / (US_draw+US_loss+US_wins)
US_WinPercent

0.5465879265091863

### ðŸ”¬ Checkpoint Tests ðŸ”¬

In [16]:
### TEST CASE for Part 3: United States Win Percentage

tada = "\N{PARTY POPPER}"

assert("US_wins" in vars())
assert("US_loss" in vars())
assert("US_draw" in vars())
assert("US_WinPercent" in vars())

assert(len(df[((df.iloc[:, 1] == df.iloc[41, 1])&(df.iloc[:,3] > df.iloc[:,4])) | (df.iloc[:, 2] == df.iloc[41, 1])&(df.iloc[:,3] < df.iloc[:,4])])
 == US_wins)
assert(len(df[((df.iloc[:, 1] == df.iloc[41, 1])&(df.iloc[:,3] < df.iloc[:,4])) | (df.iloc[:, 2] == df.iloc[41, 1])&(df.iloc[:,3] > df.iloc[:,4])])
 == US_loss)
assert(len(df[((df.iloc[:, 1] == df.iloc[41, 1])&(df.iloc[:,3] == df.iloc[:,4])) | (df.iloc[:, 2] == df.iloc[41, 1])&(df.iloc[:,3] == df.iloc[:,4])])
 == US_draw)

assert((US_wins + .5*US_draw) / (US_draw+US_loss+US_wins) == US_WinPercent) 
print(f"{tada} All Tests Passed! {tada}")

ðŸŽ‰ All Tests Passed! ðŸŽ‰

<hr style="color: #DD3403;">

## Submission

You're almost done!  All you need to do is to commit your lab to GitHub and run the GitHub Actions Grader:

1.  âš ï¸ **Make certain to save your work.** âš ï¸ To do this, go to **File => Save All**

2.  After you have saved, exit this notebook and return to https://discovery.cs.illinois.edu/microproject/fifa-world-cup/ and complete the section **"Commit and Grade Your Notebook"**.

3. If you see a 100% grade result on your GitHub Action, you've completed this MicroProject! ðŸŽ‰